:root {
  --red:#b30000;
  --red-black:#7d0000;
  --yellow:#b3b300;
  --green-black:#7d7d00;
  --blue:#002db3;
  --black:#000000;
  --background:#a7a4a4;
  --xs: 14px;
  --sm: 22px;
  --md: 24px;
  --lg: 46px;


}
body{
  background-color: var(--blue);
  color: var(--background);
}