.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img {
    width: 215px;
    height: 215px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 5px;
    border-style: solid;
    border-color: var(--red);
    background-color: var(--red-black);
}
.profile-img img {
    border-radius: 50%;
    width: 205px;
    height: 205px;
    object-fit:contain;
}
.profile h1 {
    font-size: var(--lg);
    color: var(--primary-clear);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile p {
    font-size: var(--md);
    color: var(--secondary-clear);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.profile-social {
    display: inline-flex;
    align-items: flex-start;
    gap: 26px;
}

.profile-social-img {
    width: 36px;
    height: 36px;
}