.projectContainer{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 32px;
    border-radius: 20px;
    justify-items: center;
    
    
}
.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    row-gap: 32px;
    column-gap: 32px;
    border-radius: 20px;
    justify-items: center;
}

.content-card-img {
    width: 362px;
    height: 226px;
    border-radius: 15px;
    overflow: hidden;
    background-size: contain;
    position: relative;
    
}

.content-card-img .image {
    width: 110%;
    height: 110%;
    object-fit: cover;
    object-position: center center;
}

.content-card-img .image.grayscale {
    filter: grayscale(50%);
}

.content-card-img .content-card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--red);
    opacity: 0;
}

.content-card-img .content-card-img-overlay:hover {
    opacity: 0.7;
}

.content-card-img-detail {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.content-card-img .content-card-img-overlay:hover+.content-card-img-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-card-img-detail .title {
    text-align: center;
    font-family: Poppins;
    font-size: var(--sm);
}

.content-card-img-detail .detail {
    text-align: center;
    font-family: Poppins;
    font-size: var(--xs);
}

.content-card-img-detail .btn {
    width: auto;
    height: auto;
    fill: var(--red);
    border-radius: 50%;
    border: 10px;
    justify-content: center;
    align-items: center;

}